@import url(./dark.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  max-width: 1310px;
  padding: 20px;
  margin: 0 auto;
}

header::before {
  content: "";
  display: block;
  width: 100%;
  height: 43rem;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  position: absolute;
  z-index: -1;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-1: "DM Sans", sans-serif;
  --bg-color: #dce9e2;
  --bg-color2: #fffaf1;
  --color-1: #00856f;
  --color-2: #212529;
  --color-3: #495057;
  --color-4: #00453a;
}

/* classes js */

.desableContent {
  display: none !important;
}

.desableScroll {
  overflow: hidden;
}

.bg-header {
  height: 100vh;
  background-color: var(--color-1);
}

.oi {
  display: none;
  position: absolute;
  top: 30px;
  right: 29px;
}

.ativo {
  display: block !important;
}

.remove {
  display: none;
}

.up {
  -webkit-box-shadow: 5px 5px 21px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 21px -3px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  transform: scale(1.1);
}

.notup {
  box-shadow: none;
  transition: 0.4s;
  transform: scale(1);
}

/* final js */

.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logo img {
  max-width: 100%;
  margin-top: 10px;
}

.icon {
  display: none;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 24px;
  align-self: center;
  gap: 32px;
}

.menu ul li a {
  font-size: 1rem;
  font-family: var(--font-1);
  font-weight: 400;
  line-height: 21px;
  color: var(--color-1);
  position: relative;
}

.menu a:after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  margin-top: 2px;
  border-radius: 2px;
  background-color: var(--color-1);
  transition: 0.3s;
  position: absolute;
}

.menu a:hover::after {
  width: 100%;
}

.botao {
  color: var(--color-1);
  font-family: var(--font-1);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-color: transparent;
  justify-content: center;
  padding: 10px 24px;
  border: 1px solid var(--color-1);
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s;
}

.botao:hover {
  background-color: var(--color-1);
  color: var(--bg-color);
}

.social-mobile {
  display: none;
}

.container {
  max-width: 1120px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
}

.foto img {
  max-width: 100%;
  object-position: 0 25px;
}

.text {
  padding: 20px;
  margin-top: 60px;
}

.text h1 {
  font-family: var(--font-1);
  font-size: 0.875rem;
  color: var(--color-1);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: 16px;
}

.text h2 {
  max-width: 20ch;
  font-family: var(--font-1);
  font-size: 3.25rem;
  color: var(--color-2);
  margin-bottom: 24px;
}

.text p {
  max-width: 49ch;
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 32px;
}

.botao1 {
  width: 263px;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-1);
  font-size: 0.875rem;
  color: var(--bg-color2);
  background: var(--color-1);
  text-transform: uppercase;
  gap: 5px;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  transition: background 0.3s;
}

.botao1:hover {
  background-color: var(--color-4);
}

.clientes-bg {
  max-width: 1120px;
  margin: 0 auto;
  background-color: var(--bg-color2);
  border-radius: 6px;
  border: 1px solid #dce9e2;
}

.numeros {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 60px;
}

.cliente1 {
  position: relative;
}

.cliente1 h3 {
  font-family: var(--font-1);
  font-size: 3rem;
  line-height: 130%;
  text-align: center;
}

.cliente1 h3:before {
  content: "+";
}

.cliente1 span {
  font-family: var(--font-1);
  font-size: 1rem;
  line-height: 150%;
  color: var(--color-1);
}

.services {
  max-width: 1120px;
  margin: auto;
}

.text-services {
  margin-top: 160px;
}

.text-services h1 {
  font-family: var(--font-1);
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--color-1);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
}

.text-services h2 {
  max-width: 19ch;
  font-family: var(--font-1);
  padding: 20px;
  font-size: 2.5rem;
  line-height: 52px;
  text-align: center;
  margin-bottom: 64px;
  margin-right: auto;
  margin-left: auto;
}

.cards-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 20px;
  margin-bottom: 160px;
}

.card {
  background: #ffffff;
  border: 1px solid var(--bg-color);
  border-radius: 6px;
  padding: 24px;
}

.card h2 {
  font-family: var(--font-1);
  font-size: 1.5rem;
  color: var(--color-2);
  line-height: 31px;
  margin: 16px 0;
}

.card p {
  font-family: var(--font-1);
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 150%;
}

.about-bg {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color2);
}

.about {
  max-width: 1120px;
  display: grid;
  padding: 20px;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.about-image,
.about-text {
  margin: 160px 0;
}

.about-image img {
  max-width: 100%;
}

.about-text {
  padding: 10px;
}

.about-text h1 {
  font-family: var(--font-1);
  font-size: 0.875rem;
  color: var(--color-1);
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.about-text h2 {
  max-width: 15ch;
  font-family: var(--font-1);
  font-size: 2.5rem;
  line-height: 52px;
  margin-bottom: 24px;
}

.about-text p {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

.contact {
  max-width: 1120px;
  margin: auto;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 15px;
}

.contact-text,
.contact-bg {
  margin: 160px 0;
}

.contact-bg img {
  max-width: 100%;
}

.contact-text h2 {
  max-width: 15ch;
  font-family: var(--font-1);
  font-size: 2.5rem;
  color: var(--color-2);
  line-height: 52px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.contact-icons {
  position: relative;
  left: 33px;
}

.contact-icons p {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--color-3);
  margin-top: 30px;
  position: relative;
}

.endress-icon:before {
  content: "";
  width: 24px;
  height: 24px;
  left: -30px;
  top: 0;
  background-image: url(./img/endress.svg);
  position: absolute;
}

.email-icon:before {
  content: "";
  width: 24px;
  height: 24px;
  left: -30px;
  top: 0;
  background-image: url(./img/email.svg);
  position: absolute;
}

.contact-text button {
  margin-top: 40px;
}

.botao2 {
  width: 267px;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-1);
  font-size: 0.875rem;
  margin-top: 40px;
  color: var(--bg-color2);
  background: var(--color-1);
  text-transform: uppercase;
  gap: 5px;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
}

.botao2:hover {
  background-color: var(--color-4);
}

.footer-bg {
  width: 100%;
  background-color: var(--color-1);
}

.footer-grid {
  display: grid;
  max-width: 1120px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 15px;
  margin: auto;
}

.logo-footer img {
  width: 256px;
  margin-bottom: 9px;
}

.footer-text {
  margin: 80px 0;
}

.footer-text span {
  display: block;
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--bg-color2);
  margin-top: 15px;
}

.footer-social ul {
  display: flex;
  justify-content: center;
  margin: 122px 0;
  gap: 32px;
}

.footer-social img:hover {
  transform: scale(1.1);
}

.arrow {
  position: fixed;
  top: 90%;
  right: 0.8%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(100%);
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media screen and (max-width: 967px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .foto img {
    height: 100%;
  }

  .text {
    padding: 30px;
    margin: auto;
  }

  .text h2 {
    max-width: 100%;
    font-size: 2.6rem;
  }

  .cards-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 10px;
  }

  .up {
    transition: 0.4s;
    transform: scale(0.9);
  }

  .about-image img {
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  .contact-bg img {
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
}

@media screen and (max-width: 800px) {
  header {
    width: 100%;
    background-color: var(--color-1);
  }

  header::before {
    height: 68rem;
  }

  .content {
    display: block;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .logo img {
    display: none;
  }

  .logo1 {
    margin-top: 13px;
    width: 100%;
    height: 40px;
    background-image: url(./img/Logomobile.svg);
    background-repeat: no-repeat;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    display: block;
    cursor: pointer;
  }

  .menu {
    display: none;
    margin-top: 60px;
  }

  .menu1 {
    display: none;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    align-self: center;
    gap: 48px;
  }

  .menu ul li a {
    font-size: 1.5rem;
    color: var(--bg-color);
    font-weight: bold;
  }

  .botao {
    display: flex;
    color: var(--color-1);
    font-family: var(--font-1);
    font-size: 1.125rem;
    padding: 16px 32px;
    background-color: white;
    justify-content: center;
    border: 1px solid var(--color-1);
    margin: 48px auto;
  }

  .botao:hover {
    background-color: var(--color-2);
    color: var(--bg-color);
  }

  /* social mobile */

  .social-mobile ul {
    display: flex;
    padding-top: 80px;
    justify-content: center;
    gap: 32px;
  }

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .text p {
    max-width: 100%;
    margin-bottom: 32px;
  }

  .botao1 {
    display: flex;
    margin: 0 auto;
  }

  .botao2 {
    position: relative;
    left: 20px;
  }

  .foto img {
    display: block;
    width: 264px;
    margin: auto;
    object-position: 0px 12px;
  }

  .clientes-bg {
    width: 327px;
    height: 470px;
    border-radius: 6px;
    border: 1px solid var(--bg-color);
  }

  .numeros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    gap: 60px;
  }

  .cliente1 {
    position: relative;
  }

  .cliente1 img {
    display: none;
  }

  .text-services {
    margin: 24px;
    margin-top: 100px;
  }
  .cards-services {
    display: grid;
    grid-template-columns: 1fr;
    margin: 24px;
    padding: 24px;
    margin-bottom: 100px;
  }

  .up {
    transition: 0.4s;
    transform: scale(1.1);
  }

  .text-services h2 {
    max-width: 17ch;
    font-size: 1.875rem;
    line-height: 42px;
  }

  .about {
    width: 100%;
    display: grid;
    margin: auto;
    padding: 24px;
    grid-template-columns: 1fr;
  }

  .about-text h1 {
    font-size: 0.875rem;
    margin-top: 100px;
  }

  .about-text h2 {
    font-size: 1.875rem;
    line-height: 42px;
  }

  .about-text p {
    max-width: 93%;
    margin-bottom: 60px;
  }

  .about-image {
    text-align: center;
    grid-row: 2;
    margin: 0;
    margin-bottom: 100px;
  }

  .about-text {
    margin: 0;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 15px;
    margin: 100px 0;
  }

  .contact-text,
  .contact-bg {
    margin: 0;
  }

  .contact-icons {
    position: relative;
    padding: 0 60px;
    left: 0;
  }

  .contact-text h2 {
    font-size: 1.875rem;
    line-height: 42px;
    padding: 0 30px;
  }

  .contact-bg {
    margin-top: 30px;
    text-align: center;
  }

  .logo-footer img {
    max-width: 100%;
  }

  .footer-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 15px;
  }

  .footer-text {
    margin-top: 60px;
    margin-bottom: 0px;
  }

  .footer-social ul {
    display: flex;
    justify-content: start;
    margin-top: 32px;
    margin-bottom: 60px;
    gap: 32px;
  }
}

@media screen and (max-width: 600px) {
  .text h2 {
    font-size: 2.125rem;
  }

  .text-services h2 {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 400px) {
  .text-services h2 {
    font-size: 2.2rem;
  }

  .contact-icons {
    padding: 0 30px;
  }

  .contact-text h2 {
    padding: 0;
  }

  .botao2 {
    position: relative;
    left: 0px;
  }
}

@media screen and (max-width: 357px) {
  .container {
    width: 100%;
  }

  .text-services h2 {
    font-size: 1.8rem;
    margin-bottom: 32px;
  }

  .clientes-bg {
    max-width: 100%;
  }

  .botao1 {
    width: 100%;
  }

  .botao2 {
    width: 100%;
  }
}
